html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: @footer-height;
  overflow-x: hidden;
}
footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: @navbar-default-bg;
  color: @btn-default-color;
  padding: 35px 0 25px;
}

/************ LOADING BAR **************/
#loading-bar .bar {
  top: @navbar-height;
  background: @brand-success;
  height: 4px;
}
#loading-bar-spinner {
  top: @navbar-height + 10px;
}
#loading-bar-spinner .spinner-icon {
  border-top-color: @brand-success;
  border-left-color: @brand-success;
}
