@import "../../bower_components/bootstrap/less/bootstrap.less";
@import "variables.less";
@import "bootswatch.less";

body {
	padding-top: 70px;
	overflow-x: hidden;
}

footer {
	background-color: @navbar-default-bg;
	color: @btn-default-color;
}

.callout {
	padding: 20px;
	margin: 20px 0;
	border: 1px solid #eee;
	border-left-width: 5px;
	border-radius: 3px;
}
.callout-danger{border-left-color:@brand-danger;}
.callout-danger h4{color:@brand-danger;}
.callout-warning{border-left-color:@brand-warning;}
.callout-warning h4{color:@brand-warning;}
.callout-info{border-left-color:@brand-info;}
.callout-info h4{color:@brand-info;}