<form class="col-md-8" name="profileForm" novalidate ng-submit="profileForm.$valid && vm.save()">
    <div class="form-group">
        <label for="nickname">How we should call You</label>
        <input class="form-control" id="nickname" name="nickname" type="text" ng-model="vm.profile.nickname" required />
        <div ng-if="profileForm.nickname.$touched || profileForm.$submitted">
            <div class="text-danger" ng-show="profileForm.nickname.$error.required">We need to know how to call You.</div>
        </div>
    </div>
    <div class="form-group">
        <label for="email">Contact e-mail</label>
        <input id="email" name="email" class="form-control" type="email" ng-model="vm.profile.email" required/>
        <div ng-if="profileForm.email.$touched || profileForm.$submitted">
            <div class="text-danger" ng-show="profileForm.email.$error.email">Email is invalid.</div>
            <div class="text-danger" ng-show="profileForm.email.$error.required">Email address is required.</div>
        </div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</form>
