<div>
    <form ng-hide="vm.token" name="pledgeForm" novalidate ng-submit="pledgeForm.$valid && vm.initiate()">
        <div class="container-fluid">
            <div class="form-group row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="sr-only">Card Number</label>
                        <div class="input-group input-group-md">
                            <span class="input-group-addon"><i class="fa {{vm.ccTypeToClass[pledgeForm.card_number.$ccEagerType] || 'fa-credit-card'}}"></i></span>
                            <input placeholder="Card Number" class="form-control" type="text" ng-model="vm.card.number" name="card_number" cc-format cc-number cc-eager-type />
                        </div>
                        <div ng-if="pledgeForm.card_number.$touched || pledgeForm.$submitted">
                            <div class="text-danger" ng-show="pledgeForm.card_number.$error.required">Number is required.</div>
                            <div class="text-danger" ng-show="pledgeForm.card_number.$error.ccNumber">Number is invalid.</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-12">
                    <label class="sr-only">Cardholder Name</label>
                    <div class="input-group input-group-md">
                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                        <input placeholder="Cardholder Name" class="form-control input-md" type="text" ng-model="vm.card.name" name="card_name" required />
                    </div>
                    <div ng-if="pledgeForm.card_name.$touched || pledgeForm.$submitted">
                        <div class="text-danger" ng-show="pledgeForm.card_name.$error.required">Cardholder Name is required.</div>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-12">
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label class="sr-only">CVC</label>
                            <div class="input-group input-group-md">
                                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                <input class="form-control input-md" placeholder="CVC" type="text" size="4" ng-model="vm.card.cvc" name="card_cvc" cc-cvc />
                            </div>
                            <div ng-if="pledgeForm.card_cvc.$touched || pledgeForm.$submitted">
                                <div class="text-danger" ng-show="pledgeForm.card_cvc.$error.required">CVC is required.</div>
                                <div class="text-danger" ng-show="pledgeForm.card_cvc.$error.ccCvc">Cvc is invalid.</div>
                            </div>
                        </div>
                        <div>
                            <div class="col-md-4">
                                <label class="sr-only">Expiration Month</label>
                                <input class="form-control input-md" placeholder="MM" ng-model="vm.card.expMonth" name="card_expMonth" cc-exp-month />
                                <div ng-if="pledgeForm.card_expMonth.$touched || pledgeForm.$submitted">
                                    <div class="text-danger" ng-show="pledgeForm.card_expMonth.$error.required">Expiration Month is required.</div>
                                    <div class="text-danger" ng-show="pledgeForm.card_expMonth.$error.ccExpMonth">Expiration Month is invalid.</div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label class="sr-only">Expiration Year</label>
                                <input class="form-control input-md" placeholder="YY" ng-model="vm.card.expYear" name="card_expYear" cc-exp-year />
                                <div ng-if="pledgeForm.card_expYear.$touched || pledgeForm.$submitted">
                                    <div class="text-danger" ng-show="pledgeForm.card_expYear.$error.required">Expiration Year is required.</div>
                                    <div class="text-danger" ng-show="pledgeForm.card_expYear.$error.ccExpYear">Expiration Year is invalid.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-12">
                    <div class="input-group">
                        <span class="input-group-addon">$</span>
                        <input type="number" id="amount" max="5000" min="100" name="amount" cents-to-dollars ng-model="vm.amount" class="form-control input-md">
                        <span class="input-group-btn">
                            <button class="btn btn-md btn-success" promise-btn="vm.initiatePromise"  type="submit">Pledge</button>
                        </span>
                    </div>
                    <div ng-if="pledgeForm.amount.$touched || pledgeForm.$submitted">
                        <div class="text-danger" ng-show="pledgeForm.amount.$error.required">Amount is required.</div>
                        <div class="text-danger" ng-show="pledgeForm.amount.$error.min">$1 is a minimal amount.</div>
                        <div class="text-danger" ng-show="pledgeForm.amount.$error.max">$50 is a maximum amount.</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <a href="http://www.stripe.com" target="blank"><img src="images/outline.png" /></a>
            </div>
        </div>
    </form>
    <form class="form-horizontal" ng-show="vm.token" name="pledgeConfirmForm" novalidate ng-submit="vm.pledge()">
        <div class="col-xs-12">
            <h1>Please Confirm Payment</h1>
        </div>
        <div class="form-group">
            <h2 class="col-xs-3 control-label">Amount</h2>
            <div class="col-xs-3">
                <h2 class="form-control-static">{{vm.amount / 100 | currency}}</h2>
            </div>
            <h2 class="col-xs-3 control-label">Card Number</h2>
            <div class="col-xs-3">
                <h2 class="form-control-static">...{{vm.card.number | limitTo: -4}}</h2>
            </div>
        </div>
        <div class="col-xs-12">
            <button class="btn btn-lg btn-default" type="button" ng-click="vm.change()">Change</button>
            <button class="btn btn-lg btn-success" promise-btn="vm.pledgePromise" type="submit">Confirm</button>
        </div>
    </form>
</div>
