<form name="registerForm" class="form-inline" novalidate ng-submit="registerForm.$valid && vm.register()">
    <div class="form-group">
        <label class="sr-only" for="email">Email</label>
        <input class="form-control" type="email" name="username" id="username" placeholder="Email" ng-model="vm.username" required>
    </div>
    <div class="form-group">
        <label class="sr-only" for="password">Password</label>
        <input class="form-control" type="password" name="password" id="password" placeholder="Password" ng-model="vm.password" required>
    </div>
    <div class="form-group">
        <label class="sr-only" for="confirmPassword">Repeat Password</label>
        <input class="form-control" type="password" name="confirmPassword" id="confirmPassword" placeholder="Repeat Password" ng-model="vm.confirmPassword" match="vm.password" required>
    </div>
    <button type="submit" class="btn btn-default" promise-btn="vm.submitPromise">Register</button>
    <div ng-if="registerForm.confirmPassword.$touched || registerForm.$submitted">
        <div class="text-danger" ng-show="registerForm.confirmPassword.$error.match">Passwords do not match.</div>
    </div>
    <div ng-if="registerForm.username.$touched || registerForm.$submitted">
        <div class="text-danger" ng-show="registerForm.username.$error.email">Email is invalid.</div>
    </div>
    <div ng-if="registerForm.username.$touched || registerForm.$submitted">
        <div class="text-danger" ng-show="registerForm.username.$error.required">Email is required.</div>
    </div>
    <div ng-if="registerForm.password.$touched || registerForm.$submitted">
        <div class="text-danger" ng-show="registerForm.password.$error.required">Password is required.</div>
    </div>
</form>