<form name="basicLoginForm" class="form-inline" novalidate ng-submit="basicLoginForm.$valid && vm.login()">
    <div class="form-group">
        <label class="sr-only" for="email">Email</label>
        <input class="form-control" type="email" id="username" name="username" placeholder="Email" ng-model="vm.username" required>
    </div>
    <div class="form-group">
        <label class="sr-only" for="password">Password</label>
        <input class="form-control" type="password" id="password" name="password" placeholder="Password" ng-model="vm.password" required>
    </div>
    <button type="submit" class="btn btn-default">Sign in</button>
    <div ng-if="basicLoginForm.username.$touched || basicLoginForm.$submitted">
        <div class="text-danger" ng-show="basicLoginForm.username.$error.email">Email is invalid.</div>
    </div>
    <div ng-if="basicLoginForm.username.$touched || basicLoginForm.$submitted">
        <div class="text-danger" ng-show="basicLoginForm.username.$error.required">Email is required.</div>
    </div>
    <div ng-if="basicLoginForm.password.$touched || basicLoginForm.$submitted">
        <div class="text-danger" ng-show="basicLoginForm.password.$error.required">Password is required.</div>
    </div>
</form>