<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.5.2" targetFramework="net451" />
  <package id="Fody" version="1.28.3" targetFramework="net451" developmentDependency="true" />
  <package id="LoadAssembliesOnStartup.Fody" version="1.6.0" targetFramework="net451" />
  <package id="Microsoft.Owin" version="3.0.1" targetFramework="net451" />
  <package id="Microsoft.Owin.Diagnostics" version="3.0.1" targetFramework="net451" />
  <package id="Microsoft.Owin.FileSystems" version="3.0.1" targetFramework="net451" />
  <package id="Microsoft.Owin.Host.HttpListener" version="3.0.1" targetFramework="net451" />
  <package id="Microsoft.Owin.Hosting" version="3.0.1" targetFramework="net451" />
  <package id="Microsoft.Owin.SelfHost" version="3.0.1" targetFramework="net451" />
  <package id="Microsoft.Owin.StaticFiles" version="3.0.1" targetFramework="net451" />
  <package id="Owin" version="1.0" targetFramework="net451" />
  <package id="Serilog" version="1.5.1" targetFramework="net451" />
  <package id="Serilog.Extras.Topshelf" version="1.4.204" targetFramework="net451" />
  <package id="System.Configuration.Abstractions" version="2.0.2.17" targetFramework="net451" />
  <package id="Topshelf" version="3.1.4" targetFramework="net451" />
  <package id="Topshelf.Autofac" version="1.0.0" targetFramework="net451" />
</packages>