<div class="page-header">
	<h1>About Us</h1>
</div>
<h2 class="text-center">Vision</h2>
<div class="text-center">
	<p class="loud">
		Gitcheese is designed and built with love and passion for fun of creation and our great and unique open source community.
	</p>
	<p class="loud">
		Have you ever scratched your head why someone would spend so much time, so much energy and effort to create such great piece of code that you can use, however you want, totaly for free?
		As active developers we believe that "this random github guy" from some "random github project" should get paid for tremendous job that he/she makes. We use open source libraries, tools, framework on daily basis in our private and commercial/enterpise projects. Many times support in such products is more than just sufficient and deprived of corporate mumbo jumbo as it commonly is in paid projects. So why do not support a guy that non directly support our business? Why do not appreciate that effort or just simply show our fellow developer that this "thing" is great? 
	</p>
	<p class="loud">
		Last but not least - it is a great meeting point for employer and employee. We believe that it is great to work in company that share same profesional values which in many cases means that you will browse same github pages...
	</p>
</div>
<h2 class="text-center">Founders</h2>
<div class="col-lg-6">
	<div class="thumbnail">
		<img src="images/logo16.png" alt="..." class="img-circle">
		<div class="caption">
			<blockquote>
				<p>I believe that open source is vital part of nowadays software developement. Well steered and supported will come out for good for both parties.</p>
				<footer>Maciej Gibas</footer>
			</blockquote>
		</div>
	</div>
	
</div>
<div class="col-lg-6">
	<div class="thumbnail">
		<img src="images/logo16.png" alt="..." class="img-circle">
		<div class="caption">
			<blockquote>
				<p>Heavily addicted to cheese. Currently on rehab.</p>
				<footer>Bartłomiej Zieliński</footer>
			</blockquote>
		</div>
	</div>
</div>