<div class="jumbotron text-center">
	<div ng-hide="basicCreated">
		<div ng-show="creatingOauth">
			<h2>Almost there!</h2>
			<h3>Lot of things is going on in the background right now, so please wait a second.</h3>
			<i class="fa fa-5x fa-circle-o-notch fa-spin"></i>
		</div>
		<div ng-hide="creatingOauth">
			<h2>Your account is ready!</h2>
			<h3>So let's configure your profile data.</h3>
			<a class="btn btn-primary btn-lg" href="#/profile">Next</a>
		</div>
	</div>
	<div ng-show="basicCreated">
		<h2>Your account is created!</h2>
		<h3>We just send You confirmation email - please activate Your account and try to Log In.</h3>
		<a class="btn btn-primary btn-lg" href="#/login">Log In</a>
	</div>
</div>