<div class="col-lg-10 col-lg-offset-1">
	<div class="panel panel-primary text-center">
		<div class="panel-heading lead">Login</div>
		<div class="panel-body">
			<ul class="list-inline">
				<li>
					<a href="#" class="btn btn-default btn-lg">
						<i class="fa fa-2x fa-google"></i>
					</a>
				</li>

				<li>
					<a href="#" class="btn btn-default btn-lg">
						<i class="fa fa-2x fa-windows"></i>
					</a>
				</li>

				<li>
					<a href="/#dashboard" class="btn btn-primary btn-lg">
						<i class="fa fa-5x fa-github"></i>
					</a>
				</li>

				<li>
					<a href="#" class="btn btn-default btn-lg">
						<i class="fa fa-2x fa-facebook"></i>
					</a>
				</li>

				<li>
					<a href="#" class="btn btn-default btn-lg">
						<i class="fa fa-2x fa-twitter"></i>
					</a>
				</li>
			</ul>
			<ul class="list-inline">
				<li>
					<a href="#" class="btn btn-default">
						<i class="fa fa-dropbox"></i>
					</a>
				</li>

				<li>
					<a href="#" class="btn btn-default">
						<i class="fa fa-yahoo"></i>
					</a>
				</li>
				<li>
					<a href="#" class="btn btn-default">
						<i class="fa fa-instagram"></i>
					</a>
				</li>

				<li>
					<a href="#" class="btn btn-default">
						<i class="fa fa-linkedin"></i>
					</a>
				</li>
				<li>
					<a href="#" class="btn btn-default">
						<i class="fa fa-soundcloud"></i>
					</a>
				</li>
				<li>
					<a href="#" class="btn btn-default">
						<i class="fa fa-foursquare"></i>
					</a>
				</li>
				<li>
					<a href="#" class="btn btn-default">
						<i class="fa fa-flickr"></i>
					</a>
				</li>
			</ul>
			<form class="form-inline">
				<div class="form-group">
					<label class="sr-only" for="username">Username</label>
					<input type="text" class="form-control" id="username" placeholder="Username">
				</div>
				<div class="form-group">
					<label class="sr-only" for="password">Password</label>
					<input type="password" class="form-control" id="password" placeholder="Password">
				</div>
				<button type="submit" class="btn btn-default">Sign in</button>
			</form>
		</div>
	</div>
	<div class="panel panel-default text-center">
		<div class="panel-heading lead">Register like an old man</div>
		<div class="panel-body">
			<form class="form-inline">
				<div class="form-group">
					<label class="sr-only" for="username">Username</label>
					<input type="text" class="form-control" id="username" placeholder="Username">
				</div>
				<div class="form-group">
					<label class="sr-only" for="password">Password</label>
					<input type="password" class="form-control" id="password" placeholder="Password">
				</div>
				<div class="form-group">
					<label class="sr-only" for="repeatPassword">Repeat Password</label>
					<input type="password" class="form-control" id="repeatPassword" placeholder="Repeat Password">
				</div>
				<button type="submit" class="btn btn-default">Register</button>
			</form>
		</div>
	</div>
</div>
