<div class="page-header">
	<h1>Pledge '{{project.name}}' project!</h1>
</div>

<p class="lead text-center">
	Predefined amounts
</p>
<div class="row">
	<div class="col-lg-1"></div>
	<div ng-repeat="amount in predefinedAmounts" class="col-lg-2">
		<button ng-click="pledge(amount)" class="btn btn-lg btn-block btn-success">${{amount}}</button>
	</div>
</div>
<p class="lead text-center">
	or...
</p>
<div class="row">
	<div class="col-lg-4 col-lg-offset-4 input-group">
		<span class="input-group-addon">$</span>
		<input type="number" id="customAmount" name="customAmount" ng-model="customAmount" class="form-control input-lg">
		<span class="input-group-btn">
			<button ng-click="pledge(customAmount)" class="btn btn-lg btn-default" type="button">Pledge</button>
		</span>
	</div>
</div>