<div ng-controller="SharebarCtrl">
	<h3>Spread The Word!</h3>
	<ul class="list-inline">
		<li>
			<button ng-click="facebook()" class="btn btn-success"><i class="fa fa fa-facebook"></i></button>
		</li>
		<li>
			<button ng-click="google()" class="btn btn-success"><i class="fa fa fa-google-plus"></i></button>
		</li>
		<li>
			<button ng-click="twitter()" class="btn btn-success"><i class="fa fa fa-twitter"></i></button>
		</li>
		<li>
			<button ng-click="linkedin()" class="btn btn-success"><i class="fa fa fa-linkedin"></i></button>
		</li>
	</ul>
</div>