<div class="row jumbotron text-center text-uppercase accent">
	<a class="btn btn-lg" ng-href="#/login">
		<i class="fa fa-5x fa-github"></i>
	</a>
	<h1>Make some cheese from Your git!</h1>
</div>
<div class="row jumbotron text-center">
	<h2 class="page-header">It's so easy!</h2>
	<div class="col-lg-5 col-lg-offset-1">
		<p class="lead">Put generated GitCheese badge on Your github project site and earn real cheese <i class="fa fa-dollar"></i><i class="fa fa-dollar"></i> from donners from all arround the world! Simple as that! There is no excuses for not doing it!</p>
	</div>
	<div class="col-lg-5">
		<i class="fa fa-5x fa-github"></i>
		<i class="fa fa-5x fa-heart-o"></i>
		<i class="fa fa-5x fa-paypal"></i>
		<p class="lead" >Yeah, that's it - github loves paypal. GitHub users loves it even more! Don't be afraid of love - just let it go ;)</p>
	</div>
</div>
<div class="row jumbotron text-center accent-dark">
	<h2 class="page-header">Something something</h2>
	<div class="col-lg-5 col-lg-offset-1">
		<p class="lead">Proin pretium, leo ac pellentesque mollis, felis nunc ultrices eros, sed gravida augue augue mollis justo. Vestibulum volutpat pretium libero. Aenean posuere, tortor sed cursus feugiat, nunc augue blandit nunc, eu sollicitudin urna dolor sagittis lacus. Suspendisse feugiat. Phasellus blandit leo ut odio.Nulla consequat massa quis enim. Sed in libero ut nibh placerat accumsan. Donec orci lectus, aliquam ut, faucibus non, euismod id, nulla. Nullam accumsan lorem in dui. Donec orci lectus, aliquam ut, faucibus non, euismod id, nulla.</p>
	</div>
	<div class="col-lg-5">
		<p class="lead" >Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Proin viverra, ligula sit amet ultrices semper, ligula arcu tristique sapien, a accumsan nisi mauris ac eros. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nulla sit amet est. Donec interdum, metus et hendrerit aliquet, dolor diam sagittis ligula, eget egestas libero turpis vel mi.Curabitur at lacus ac velit ornare lobortis. Nam commodo suscipit quam. Etiam iaculis nunc ac metus. Praesent blandit laoreet nibh. Curabitur ligula sapien, tincidunt non, euismod vitae, posuere imperdiet, leo.</p>
	</div>
</div>