<div class="row start-header">
	<div class="col-lg-12">
		<a class="btn btn-outline btn-circle btn-lg" ng-href="#/dashboard">
			<i class="fa fa-5x fa-github"></i>
		</a>
		<div class="intro-text">
			<span class="name">Make some cheese from Your git!</span>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-lg-12 text-center">
		<h2>It's so easy!</h2>
		<hr>
	</div>
</div>
<div class="row">
	<div class="col-lg-4 col-lg-offset-2">
		<p>Put generated GitCheese badge on Your github project site and earn real cheese <i class="fa fa-dollar"></i><i class="fa fa-dollar"></i> from donners from all arround the world! Simple as that! There is no excuses for not doing it!</p>
	</div>
	<div class="col-lg-4">
		<i class="fa fa-5x fa-github"></i>
		<i class="fa fa-5x fa-heart-o"></i>
		<i class="fa fa-5x fa-paypal"></i>
		<p>Yeah, that's it - github loves paypal. GitHub users loves it even more! Don't be afraid of love - just let it go ;)</p>
	</div>
</div>
