<footer>
  <div class="container">
    <div class="col-xs-12 text-center">
      <ul class="list-inline">
        <li><a href="mailto:gitcheese@gitcheese.com">gitcheese@gitcheese.com</a></li>
        <li><a href="#">&middot;</a></li>
        <li><a href="/faq.html">FAQ</a></li>
        <li><a href="#">&middot;</a></li>
        <li><a href="/terms-of-use.html">Terms Of Use</a></li>
        <li><a href="#">&middot;</a></li>
        <li><a href="https://plus.google.com/105062693174081073344" target="_blank">Google+</a></li>
        <li><a href="#">&middot;</a></li>
        <li><a href="https://twitter.com/gitcheese" target="_blank">Twitter</a></li>
        <li><a href="#">&middot;</a></li>
        <li><a href="#">Facebook</a></li>
        <li><a href="#">&middot;</a></li>
        <li><a href="https://github.com/gitcheese" target="_blank"><i class="fa fa-github"></i> GitHub</a></li>
      </ul>
    </div>
    <div class="col-xs-12 text-center">
      <p>© Copyright 2017 <a href="#">GitCheese</a>.</p>
    </div>
  </div>
</footer>
